*, *:before, *:after {
  box-sizing: border-box; }

* {
  max-height: 1000000px; }
  @media print {
    * {
      color: #000 !important;
      background: none !important; } }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

img {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

input,
textarea,
select {
  vertical-align: middle; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-appearance: none; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    outline: none; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="submit"] {
  background: none;
  padding: 0; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

mark {
  background: none; }

.gm-style img {
  max-width: none; }

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none; } }

.container:after, .carousel .pagination:after, .container:before, .carousel .pagination:before {
  content: " ";
  display: block;
  clear: both; }

.carousel .pagination {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  color: #434149;
  background: #fff;
  font: 19px/22px "Neris", "Tahoma", sans-serif;
  min-width: 320px;
  margin: 0; }

.container {
  max-width: 1510px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {
      padding: 0 15px; } }

h1 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 900;
  margin: 0 0 53px;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 1023px) {
    h1 {
      font-size: 40px;
      line-height: 42px;
      margin: 0 0 40px; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 28px;
      line-height: 30px;
      margin: 0 0 30px; } }

h2 {
  font-size: 46px;
  line-height: 48px;
  font-weight: 900;
  margin: 0 0 88px;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 1023px) {
    h2 {
      font-size: 36px;
      line-height: 38px;
      margin: 0 0 40px; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 24px;
      line-height: 26px;
      margin: 0 0 30px; } }

p {
  margin: 0 0 10px; }

.main-carousel-holder {
  padding: 90px 15px 20px;
  background: #f1f1f1 url(../images/carousel-bg.svg) no-repeat 50% 0;
  background-size: auto 100%; }
  @media (max-width: 1199px) {
    .main-carousel-holder {
      padding: 50px 0 20px; } }
  @media (max-width: 1023px) {
    .main-carousel-holder {
      padding: 30px 0 20px; } }
  @media (max-width: 767px) {
    .main-carousel-holder {
      padding: 20px 0; } }

.range-slider-holder {
  padding: 110px 0 140px; }
  @media (max-width: 1499px) {
    .range-slider-holder {
      padding: 80px 40px; } }
  @media (max-width: 1199px) {
    .range-slider-holder {
      padding: 50px 25px; } }
  @media (max-width: 767px) {
    .range-slider-holder {
      padding: 30px 15px 40px; } }
  .range-slider-holder .container {
    max-width: 1180px; }
  .range-slider-holder .title {
    text-align: center;
    color: #ffcb00;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0 0 73px; }
    @media (max-width: 767px) {
      .range-slider-holder .title {
        margin: 0 0 60px; } }

@font-face {
  font-family: 'Neris';
  src: url("../fonts/neris-light-webfont.woff2") format("woff2"), url("../fonts/neris-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Neris';
  src: url("../fonts/neris-semibold-webfont.woff2") format("woff2"), url("../fonts/neris-semibold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Neris';
  src: url("../fonts/neris-black-webfont.woff2") format("woff2"), url("../fonts/neris-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

.carousel {
  position: relative; }
  .carousel .pagination {
    float: right;
    max-width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 19px; }
    @media (max-width: 1499px) {
      .carousel .pagination {
        max-width: none; } }
    @media (max-width: 767px) {
      .carousel .pagination {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        margin: 0; } }
    .carousel .pagination li {
      padding: 0 0 15px;
      margin-left: 7%;
      border-bottom: 4px solid transparent;
      transition: border 0.3s, color 0.4s; }
      @media (max-width: 1499px) {
        .carousel .pagination li {
          margin-left: 4%; } }
      @media (max-width: 767px) {
        .carousel .pagination li {
          margin: 0 0 15px;
          padding: 0 0 5px;
          border-width: 2px; } }
      @media (min-width: 769px) {
        .carousel .pagination li:hover {
          border-color: #ffcb00; } }
      .carousel .pagination li:hover a {
        text-decoration: none; }
        @media (min-width: 769px) {
          .carousel .pagination li:hover a {
            text-decoration: none;
            color: #ffcb00; } }
      .carousel .pagination li:first-child {
        margin-left: 0; }
      .carousel .pagination li.active {
        border-color: #ffcb00; }
        .carousel .pagination li.active a {
          color: #ffcb00; }
    .carousel .pagination a {
      display: block;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: #434149;
      text-transform: uppercase;
      text-align: center; }
      @media (max-width: 1499px) {
        .carousel .pagination a {
          font-size: 16px;
          line-height: 22px; } }
      @media (max-width: 1023px) {
        .carousel .pagination a {
          font-size: 14px;
          line-height: 18px; } }
  .carousel .current-wrap {
    clear: both;
    text-align: center;
    margin: 0 0 68px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 900; }
    @media (max-width: 1023px) {
      .carousel .current-wrap {
        margin: 0 0 40px; } }
    @media (max-width: 767px) {
      .carousel .current-wrap {
        margin: 0 0 15px; } }
    .carousel .current-wrap .btn-prev,
    .carousel .current-wrap .current-holder,
    .carousel .current-wrap .btn-next {
      display: inline-block;
      vertical-align: top; }
    .carousel .current-wrap .btn-prev,
    .carousel .current-wrap .btn-next {
      width: 12px;
      height: 12px;
      border: 2px solid #000;
      border-width: 0px 0px 2px 2px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      transition: border 0.2s;
      margin-top: 3px; }
      .carousel .current-wrap .btn-prev:hover,
      .carousel .current-wrap .btn-next:hover {
        text-decoration: none;
        border-color: #ffcb00; }
    .carousel .current-wrap .btn-next {
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
    .carousel .current-wrap .current-holder {
      min-width: 55px; }
      .carousel .current-wrap .current-holder span {
        padding: 0 2px; }
  .carousel .mask {
    position: relative;
    overflow: hidden;
    width: 100%; }
    @media (max-width: 1499px) {
      .carousel .mask {
        margin: 0 -15px; } }
    @media (max-width: 767px) {
      .carousel .mask {
        margin: 0; } }
    .carousel .mask .container {
      max-width: 1300px; }
    .carousel .mask .slideset {
      width: 99999px;
      float: left; }
    .carousel .mask .slide {
      float: left;
      overflow: hidden; }
  .carousel .image-holder {
    float: left;
    width: 58%;
    padding-top: 40px;
    margin-left: -3.5%; }
    @media (max-width: 1023px) {
      .carousel .image-holder {
        margin-left: -8%;
        width: 55%; } }
    @media (max-width: 767px) {
      .carousel .image-holder {
        display: none; } }
  .carousel .text-holder {
    width: 44.5%;
    float: left;
    margin-left: -5.3%; }
    @media (max-width: 1023px) {
      .carousel .text-holder {
        width: 57%; } }
    @media (max-width: 767px) {
      .carousel .text-holder {
        width: 100%;
        margin-left: 0; } }
    .carousel .text-holder .item {
      display: block;
      padding: 25px 28px;
      border: 1px dashed transparent;
      margin: 0 0 20px;
      border-radius: 15px;
      color: #434149;
      transition: border 0.4s;
      cursor: pointer; }
      @media (max-width: 1023px) {
        .carousel .text-holder .item {
          padding: 15px; } }
      @media (max-width: 767px) {
        .carousel .text-holder .item {
          padding: 10px;
          font-size: 16px;
          line-height: 20px; } }
      .carousel .text-holder .item:hover {
        border-color: #a29f9e;
        text-decoration: none; }
        .carousel .text-holder .item:hover .title {
          color: #ffcb00;
          border-color: transparent; }
      .carousel .text-holder .item:last-child {
        margin: 0; }
      .carousel .text-holder .item p {
        line-height: 30px;
        margin: 0; }
        @media (max-width: 767px) {
          .carousel .text-holder .item p {
            line-height: 24px; } }
      .carousel .text-holder .item .title {
        display: inline-block;
        font-size: 25px;
        line-height: 27px;
        font-weight: 700;
        border-bottom: 1px dashed #434149;
        margin: 0 0 12px;
        padding: 0 0 2px;
        transition: border 0.4s, color 0.3s; }

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important; }

.irs-line-left, .irs-line-mid, .irs-line-right {
  position: absolute;
  display: block;
  top: 0; }

.irs-line-left {
  left: 0;
  width: 11%; }

.irs-line-mid {
  left: 9%;
  width: 82%; }

.irs-line-right {
  right: 0;
  width: 11%; }

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0; }

.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0; }

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0; }

.irs-slider {
  background: #fff;
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1; }

.irs-slider.type_last {
  z-index: 2; }

.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default; }

.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default; }

.irs-from, .irs-to, .irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap; }

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; }

.irs-with-grid .irs-grid {
  display: block; }

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000; }

.irs-grid-pol.small {
  height: 4px; }

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000; }

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: transparent;
  z-index: 2; }

.irs-disabled {
  opacity: 0.4; }

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important; }

.irs {
  height: 40px; }

.irs-with-grid {
  height: 60px; }

.irs-line {
  height: 12px;
  top: 25px; }

.irs-line-left {
  height: 12px;
  background-position: 0 -30px; }

.irs-line-mid {
  height: 12px;
  background-position: 0 0; }

.irs-line-right {
  height: 12px;
  background-position: 100% -30px; }

.irs-bar {
  height: 12px;
  top: 25px;
  background-position: 0 -60px; }

.irs-bar-edge {
  top: 25px;
  height: 12px;
  width: 9px;
  background-position: 0 -90px; }

.irs-shadow {
  height: 3px;
  top: 34px;
  background: #000;
  opacity: 0.25; }

.irs-slider {
  width: 16px;
  height: 18px;
  top: 22px;
  background-position: 0 -120px; }

.irs-min, .irs-max {
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
  background: #e1e4e9;
  border-radius: 4px; }

.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #ed5565;
  border-radius: 4px; }

.irs-from:after, .irs-to:after, .irs-single:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565; }

.irs-grid-pol {
  background: #e1e4e9; }

.irs-grid-text {
  color: #999; }

.irs-line {
  height: 6px;
  background: linear-gradient(to right, #fdf48d 0%, #ffcb00 50%, #ff0c00 100%); }

.irs-line-mid,
.irs-line-left,
.irs-line-right {
  background: none;
  height: 6px; }

.irs-bar {
  background: transparent;
  height: 6px;
  z-index: 1; }

.irs-bar-edge {
  display: none; }

.slider-range-inverse {
  position: absolute;
  display: block;
  top: 25px;
  width: 0;
  background: #ddd;
  height: 6px; }

.irs-grid-pol.small {
  height: 0; }

.irs-grid-text {
  display: none; }

.irs-grid-pol {
  background: #fff;
  top: -15px;
  height: 6px;
  width: 4px;
  z-index: 2; }
  @media (max-width: 767px) {
    .irs-grid-pol {
      display: none; } }

.irs-single {
  background: none;
  color: #434149;
  font-size: 16px;
  font-weight: 900;
  top: -30px; }
  .irs-single:after {
    display: none; }

.irs-slider {
  border-radius: 50%;
  box-shadow: 0px 4px 6px -3px #000000;
  width: 24px;
  height: 24px;
  top: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  z-index: 5; }
  .irs-slider:hover {
    box-shadow: 0px 0px 12px 0px #000000; }
  .irs-slider .note {
    position: absolute;
    padding-top: 36px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 18px;
    color: #bdbdbd; }
    @media (max-width: 1499px) {
      .irs-slider .note {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .irs-slider .note {
        font-size: 12px; } }
    .irs-slider .note:before {
      content: "\2190";
      position: absolute;
      top: 35px;
      left: -21px; }
      @media (max-width: 767px) {
        .irs-slider .note:before {
          left: -15px; } }
    .irs-slider .note:after {
      content: "\2192";
      position: absolute;
      top: 35px;
      right: -21px; }
      @media (max-width: 767px) {
        .irs-slider .note:after {
          right: -15px; } }

/*# sourceMappingURL=styles.css.map */
