.irs-line {
    height: 6px;
    background: linear-gradient(to right, #fdf48d 0%,#ffcb00 50%,#ff0c00 100%);
}
.irs-line-mid,
.irs-line-left,
.irs-line-right {
    background: none;
    height: 6px;
}
.irs-bar {
    background: transparent;
    height: 6px;
    z-index: 1;
}
.irs-bar-edge {
    display: none;
}
.slider-range-inverse {
    position: absolute;
    display: block;
    top: 25px;
    width: 0;
    background: #ddd;
    height: 6px;
}
.irs-grid-pol.small {
    height: 0;
}
.irs-grid-text {
    display: none;
}
.irs-grid-pol {
    background: $white;
    top: -15px;
    height: 6px;
    width: 4px;
    z-index: 2;
    @include media("<tablet") {
        display: none;
    }
}
.irs-single {
    background: none;
    color: $black;
    font-size: 16px;
    font-weight: 900;
    top: -30px;
    &:after {
        display: none;
    }
}
.irs-slider {
    border-radius: 50%;
    box-shadow: 0px 4px 6px -3px #000000;
    width: 24px;
    height: 24px;
    top: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    z-index: 5;
    &:hover {
        box-shadow: 0px 0px 12px 0px #000000;
    }
    .note {
        position: absolute;
        padding-top: 36px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-size: 18px;
        color: #bdbdbd;
        @include media("<widest") {
            font-size: 14px;
        }
        @include media("<tablet") {
            font-size: 12px;
        }
        &:before {
            content: "\2190";
            position: absolute;
            top: 35px;
            left: -21px;
            @include media("<tablet") {
                left: -15px;
            }
        }
        &:after {
            content: "\2192";
            position: absolute;
            top: 35px;
            right: -21px;
            @include media("<tablet") {
                right: -15px;
            }
        }
    }
}