body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
	min-width: $base-min-width;
	margin: 0;
}
.container {
	max-width: 1510px;
	margin: 0 auto;
	@extend %clearfix;
}
h1 {
	font-size: 50px;
	line-height: 52px;
	font-weight: 900;
	margin: 0 0 53px;
	text-transform: uppercase;
	text-align: center;
}
p {
	margin: 0 0 10px;
}